@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
body{
    margin: 0;
}
.content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.frame{
    width:100%;
    height: 100%;
}
#jenkins{
    display: block;
    margin: auto;
    margin-top: 50px;
}
#lenin{
    display: block;
    margin:auto;
    height: 350px;
}
#leninPic{
    display: none;
    height: 130px;
    position: fixed;
    bottom: 237px;
    margin-left: 165px;
    z-index: -1;
    -webkit-animation: fadein .5s;
}
#jira{
    display: none;
    height: 150px;
    margin: auto;
    margin-top: 100px;
}
#repport{
    display: none;
    height: 250px;
    margin: auto;
    margin-top: 50px;
}
#selenium{
    display: none;
    height: 150px;
    margin: auto;
    margin-top: 100px;
}
#globe{
    display: none;
    height: 250px;
    margin: auto;
    margin-top: 50px;
}
#zap{
    display: none;
    height: 50px;
    position: fixed;
    bottom: 218px;
    margin-left: 385px;
    z-index: 2;
    -webkit-animation: fadein .5s;
}
.browser {
    display: none;
    height: 50px;
    margin: auto;
    padding:5px;
}
.internet{
    display: grid;
    grid-template-columns: .8fr .2fr;
}
.browsers{
    display: none;
    margin-top: 140px;
    margin-left: -150px;
    background: rgba(55,55,55, .7);
    height: 180px;
    width: 60px;
    padding: 10px;
    border-radius: 2px;
}
#send-req{
    transition: 1s;
}