@font-face {
    font-family: owasp;
    src: url(../resources/fonts/MajorMonoDisplay-Regular.ttf);
}
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {

    background: #555;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
}
li{
    padding: .5em;
}

.menu {
    display: grid;
    grid-template-columns: .9fr .1fr;
    font-family: owasp;
    font-weight: bold;
    padding: .5em;
    margin: auto;
    margin-top: 25vh;
    display: grid;
    height: 2em;
    width: 80vw;
    background: rgb(31,31,31);
    color: white;
}
.open-content{
    margin: auto;
    margin-left: 5px;
}
.open-content:hover {
    cursor: pointer;
}
.content {
   padding: .5em;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   height: 0px;
   width: 80vw;
   background: rgb(51, 51, 51);
}
.card {
    height: 100%;
    width: 100%;
    background: rgb(71,71,71);
    border-left: 2px solid rgb(44, 37, 37);
    display: none;
    grid-template-rows: .2fr .8fr;
}
.header-card{
    font-family: owasp;
    display: grid;
    grid-template-columns: .4fr .6fr;
}
.desc{
    font-family: owasp;
    color: white;
}
.logo{
    color: white;
    display: block;
    margin: auto;
    padding: .5em;
    height:100px;   
}
.logo:hover{
    cursor: pointer;
}
.bkg-white{
    background: white;
    padding: 0;
    border-radius: 5px;
}

.owasp-iframe{
    display: block;
    margin: auto;
    height: 55vh;
    width: 80vw;
    background: rgb(51, 51, 51);
    padding: .5em;
}
.menu-expand:hover{
    cursor: pointer;
}
.icon-expand{
    fill: white;
    display: block;
    margin:auto;
    margin-right: 5px;
}
.icon-close{
    fill: rgb(218, 41, 28);
    display: none;
    margin:auto;
    margin-right: 5px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation: fadein .5s;
}
.modal-content {
    background-color: rgb(51,51,51);
    margin: auto;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 80%;
    color: white;
}
.content-from-modal > h2 {
    font-size: 2em;
    font-family: owasp;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: rgb(218, 41, 28);
    text-decoration: none;
    cursor: pointer;
}
#modalMainContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#modalContent > ul{
    text-decoration: none;

}
.new-element-list-top-ten {
    list-style-type: none;
}
.new-element-list-top-ten:hover{
    cursor: pointer;
    font-weight: bold;
    color: #00AB84;
}
.new-element-list-top-ten:active {
    cursor: pointer;
    font-weight: bold;
    color: #00797C;
}
#description{
    display: none;
    grid-template-rows: .1fr .4fr .4fr .1fr;
    -webkit-animation: fadein 2s;
}
#description > h2 {
    font-family: owasp;
}

#description > iframe{
    height: 400px;
    width: 600px;
}
.btn-more{
    display: block;
    margin: auto;
    margin-right: 0px;
    margin-top: 15px;
    /* width: 100px; */
    border: none;
    background: rgb(35,35,35);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
    font-family: owasp;
    user-select: none;
    outline: none;
    text-decoration: none;
}
.btn-more:hover {
    cursor: pointer;
    color: #00AB84;
}
.btn-more:active {
    background: rgb(25, 25, 25);
    outline: none;
}
.list-head{
    font-family: owasp;
}
.wio-list{
    list-style-type: none;
    font-family: owasp;
}
.wio-iframe{
    border: none;
}
.img-desc {
    display: block;
    margin: auto;
    max-height: 450px;
    max-width: 550px;
    padding: 15px;
    background: white;
    border-radius: 2px;
}
.noneTxtDec {
    text-decoration: none;
    color: white;
}
.btn-cont-auto-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.automation-menu{
    margin-left: 20px;
    width: 150px;
    text-align: center;
}