@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
body{
    margin: 0;
}
.content{
    display: gird;
    grid-template-rows: .2fr .8fr;
}
.canvas{
    height: 900px;
    width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
}
.steps{
    height: 100px;
}
.tile{
    display: block;
    margin: auto;
}
.channel{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.ch-empty{
    height: 100px;
    width: 320px;
}
.ch-canvas{
    display: block;
    margin: auto;
}
.channel-vertical {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ch-empty-v {
    height: 300px;
    width: 105px;
}

.ch-canvas-v {
    display: block;
    margin: auto;
}
.obj-logo{
    max-height: 250px;
    -webkit-animation: fadein 1s;
}
.lenin{
    max-height: 95px;
    position: absolute;
    margin-left: -217px;
    margin-top: 62px;
    z-index: -1;
    -webkit-animation: fadein 1s;
}
#chThree{
    margin-top: 0px;
}
.order{
    max-height: 50px;
    display: block;
}
.zap{
    max-height: 35px;
    position: absolute;
    margin-left: -56px;
    margin-top: 137px;
    z-index: 1;
    -webkit-animation: fadein 1s;
}
.browser-container{
    height: 215px;
    width: 80px;
    background: rgba(255,255,255, .7);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    margin-top: -200px;
    margin-left: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    -webkit-animation: fadein 1s;
}
.browswer{
    display: block;
    margin: auto;
    height: 60px;
    padding: 5px;
    -webkit-animation: fadein 1s;
}
#chFour{
    margin-left: 0px;
}
.testPack{
    height: 60px;
}
#chFive{
    margin-left: 0px;
}
.zapPack{
    background: rgba(51,51,51, .5);
    border-radius: 5px;
    height: 60px;
}
.zap-report{
    max-height: 50px;
    display: block;
}
#chOne{
    background: #00AB84;
    height: 10px;
    width: 0px;
    transition: 1s;
}
#chTwo {
    background: #00AB84;
    height: 10px;
    width: 0px;
    transition: 1s;
}
.jira{
    max-width: 250px;
    -webkit-animation: fadein 1s;
}
#steps{
    text-align: center;
    margin: auto;
    transition: 1s;
    font-size: 30px;
    color: #00AB84;
}